name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y luarocks
        luarocks --local install luacheck
        echo "$HOME/.luarocks/bin" >> $GITHUB_PATH

    - name: Lint Lua files
      run: |
        luacheck haproxy_mmdb.lua mmdb.lua tests/mmdb_validate.lua
